*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* background: red; */
}

body {
  font-family: sans-serif;
  background: forestgreen;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

header {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  margin: 20px 0;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 20px;
}

.logo-img {
  height: 80px;
  width: 80px;
}

.menu-link {
  color: #fff;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Відступи в флєксах */
  margin-bottom: 60px;
}

.product-img {
  width: 386px;
  height: 500px;
  object-fit: cover;
}

.product-name {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.product-price {
  color: #fff;
}

.return-list {
  background: rgb(2, 143, 84);
  color: #fff;
  margin-bottom: 353px;
}

footer {
  background: #fff;
  padding: 30px;
  padding-left: 45px;
}

.footer-text {
  margin-bottom: 10px;
  font-size: 24px;
}

.footer-text span {
  font-weight: 600;
  color: #850AE5;
}
